[user]
	name = gogo12394@naver.com
	email = gogo12394@naver.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current