<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.6.0/firebaseui.css" />
    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        const config = {
            apiKey: "AIzaSyDvDHbesh89RgF1W-pRDYdAtyerYChEfy0",
            databaseURL: "https://vue-project-sh.firebaseio.com/",
            projectId: "vue-project-sh",
        };
        firebase.initializeApp(config);
        const db = firebase.database()
        const auth = firebase.auth()
        const ui = new firebaseui.auth.AuthUI(auth)
    </script>
    <style>
        .chat-container {
            width: 650px;
        }
        .chat {
            width: 161px;
            height: 80px;
            padding: 10px;
            border: 1px solid seashell;
            background-color: darkorange;
            color: white;
        }
        .my-chat {
            margin-left: auto;
            background-color: darkblue;
        }
        input {
            margin: 10px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-if='currentUser.uid' class='chat-container'>
            <button @click='logout'>로그아웃</button>
            <b>{{ currentUser.username }}님이 로그인했습니다.</b>
            <ul>
                <div v-for='message in messages' :class="{'chat': true, 'my-chat': currentUser.username === message.username}">
                    <b>{{ message.username }}</b> : {{ message.content }}
                </div>
            </ul>
            <input v-model="newMessage" @keyup.enter='createMessage'>
        </div>
        <div v-else>
            <div id="firebaseui-auth-container"></div>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                newMessage: '',
                // messages: [
                //     {'username': 'metamong', 'content': '메타메타몽몽'},
                //     {'username': 'pikachu', 'content': '피카피카'}
                // ],
                currentUser: {
                    uid: '',
                    email: '',
                    username: ''
                }
            },
            firebase: {
                messages: db.ref('messages')
            },
            // 실제로 실행됨(마운트됨)과 동시에 실행되는 함수
            mounted: function() {
                auth.onAuthStateChanged((user) => {
                    if (user) {
                        this.currentUser.uid = user.uid
                        this.currentUser.email = user.email
                        this.currentUser.username = user.displayName
                    }
                    this.initUI()
                })
            },
            methods: {
                createMessage: function() {
                    if (this.newMessage) {
                        this.$firebaseRefs.messages.push({
                            username: this.currentUser.username,
                            content: this.newMessage
                        })
                        this.newMessage = ''
                    }
                },
                initUI: function() {
                    ui.start('#firebaseui-auth-container', {
                        signInoptions: [
                            firebase.auth.EmailAuthProvider.PROVIDER_ID
                        ],
                        callbacks: {
                            signInSuccessWithAuthResult: (authResult, redirctUrl) => {
                                this.currentUser.uid = authResult.user.uid
                                this.currentUser.email = authResult.user.email
                                this.currentUser.username = authResult.user.displayName
                                return false
                            }
                        }
                    })
                },
                logout: function() {
                    this.currentUser = {
                        uid: '',
                        email: '',
                        displayName: ''
                    }
                    auth.signOut()
                }
            }
        })
    </script>
</body>
</html>