<form action="/movies/{{movie.pk}}/update/" method="POST">
    {% csrf_token %}
    영화명<input type="text" name="title" value={{ movie.title }}><br>
    누적 관객수<input type="integer" name="audience" value={{ movie.audience }}><br>
    장르<input type="text" name="genre" value={{ movie.genre }}><br>
    평점<input type="float" name="score" value={{ movie.score }}><br>
    포스터 이미지 URL<textarea name="poster_url">{{ movie.poster_url }}</textarea>
    영화 소개<textarea name="description">{{ movie.description }}</textarea>
    <input type=submit>
</form>