{% extends 'base.html' %}

{% block title %}
영화등록 폼
{% endblock %}

{% block body %}
    <form action='/movies/create', method='POST'>
        title : <input type='text' name='title'> <br>
        title_en : <input type='text' name='title_en'> <br>
        audience : <input type='number' name='audience'> <br>
        open_date : <input type='date' name='open_date'> <br>
        genre : <input type='text' name='genre'> <br>
        watch_grade : <input type='text' name='watch_grade'> <br>
        score : <input type='number' name='score', min='0', max='10', step='0.01'> <br>
        poster_url : <input type='text' name='poster_url'> <br>
        description : <input type="textarea" name="description"> <br>
        <input type='submit' value='영화등록'>
    </form>
{% endblock %}