body {
    height: 10000px;
}

h2 {
    line-height: 300px;
    font-style: oblique;
    font-weight: bold;
}

.section {
    font-style: italic;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 350px;
    width: 100%;
    background-image: url('bono.jpg');
    background-size: cover;
}

