{% extends 'base.html' %}
{% block body %}
<h1>
<a href='http://django-intro-takikim.c9users.io:8080/posts/'>타키</a><br>
<a href='http://django-intro-yooco.c9users.io:8080/posts/'>유중위</a><br>
<a href='http://django-intro-mingury83.c9users.io:8080/posts/'>minz</a><br>
<a href='http://django-intro-ddongss.c9users.io:8080/posts/'>셀럽</a><br>
<a href='http://django-intro-goodminkyo.c9users.io:8080/posts/'>갓민교</a><br>
<a href='http://django-intro-pigeonking.c9users.io:8080/posts/'>구구</a><br>
<a href='http://django-intro-dpwl7484.c9users.io:8080/posts'>dPwl</a><br>
<a href='http://django-intro-sweetrain.c9users.io:8080/posts/'>트와이스</a><br>
<a href='http://django-intro-thjeong2230.c9users.io:8080/posts/'>쉬는시간</a><br>
<a href='http://django-intro-psmiswell.c9users.io:8080/posts/'>박성민이즈웰</a><br>
<a href='http://django-intro-yoonwoo.c9users.io:8080/posts/'>윤우네</a><br>
<a href='http://django-intro-injeong.c9users.io:8080/posts/'>인정?</a><br>
<a href='http://django-intro-dmlim.c9users.io:8080/posts/'>Pokemon</a><br>
<a href='http://django-intro-ksinuk1.c9users.io:8080/posts/'>행복한신욱이네</a><br>
<a href='http://django-intro-leeiopd.c9users.io:8080/posts/'>호호호주호</a><br>
<a href='http://django-intro-dohbam.c9users.io:8080/posts/'>갓희윤</a><br>
<a href='http://django-intro-opalcat01.c9users.io:8080/posts/'>노블레스</a><br>
<a href='http://django-intro-yeojineee.c9users.io:8080/posts/'>황여사님</a><br>
<a href='http://django-intro-tmair2.c9users.io:8080/posts/'>짠!</a><br>
<a href='http://django-intro-frtt0608.c9users.io:8080/posts/'>예쁜남자</a><br>
<a href='http://django-intro-rlatmf2147.c9users.io:8080/posts/'>반장님~</a><br>
<a href='http://django-intro-manuck.c9users.io:8080/posts/'>씅마이</a><br>
</h1>
{% endblock %}